div#Today{
    width: 300px;
    margin: 0 auto;
    background-color: black;
    color: dodgerblue;
    border: solid black;
    border-radius: 34px;
    padding: 9px 5px 30px 5px;
}

div#Task {
    border: solid black;
    border-bottom: solid white;
    margin: 10px 0px 10px 10px;
    color: white;
    padding: 0px 10px 10px 0px;
}

button{
    background: black;
    color: dodgerblue;
    border: none;
    font-size: medium;
    font-weight: bold;
    outline: none;
    padding-left: 15px;
}

input[type="text"] {
    background: black;
    color: white;
    border: none;
    outline: none;
    width: 81%;
    padding: 0px 0px 0px 8px;
    font-size: medium;
}

h1{
    padding-left: 8px;
}